#Rule for activating / deactivating power saving on battery
# runs /bin/XPSpower
#Other tunables are in kernel line, module load etc.
#SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/bin/XPSpower auto"
#SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/bin/XPSpower auto"
#SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/bin/XPSpower auto"
#SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/bin/XPSpower auto"
#New, different test, may work better?
ACTION=="change", SUBSYSTEM=="power_supply", RUN+="/bin/XPSpower auto"

